body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(35, 33, 30); /* Темный фон для body и html */
    font-family: 'Poppins', sans-serif;
}

.gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.3), transparent 70%),
                radial-gradient(circle at 70% 70%, rgba(200, 200, 200, 0.2), transparent 60%),
                radial-gradient(circle at 50% 90%, rgba(180, 180, 180, 0.4), transparent 80%);
    background-size: 200% 200%;
    animation: moveGradient 20s ease infinite;
    z-index: 0;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

::selection {
    background-color: #ffffffb7; /* Цвет фона выделенного текста */
    color: #9D7D54; /* Цвет текста при выделении (опционально) */
}

::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
    background-color: #333333; /* Цвет фона скроллбара */
}

::-webkit-scrollbar-thumb {
    background-color: #555555; /* Цвет бегунка скроллбара */
    border-radius: 8px; /* Закругление углов бегунка */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777777; /* Цвет бегунка при наведении */
}


.product-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
}

.product-card:hover {
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

.product-card img {
    transition: transform 0.5s ease;
}

.product-card:hover img {
    transform: scale(1.1);
}

.card-body {
    transition: transform 0.5s ease;
}

.price {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-title, .card-price {
    color: #ffffff;
}

.card-text {
    color: #ffffffb7;
}

/* Прячем кнопку по умолчанию */
.btn-primary {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Показываем кнопку при наведении */
.product-card:hover .btn-primary {
    opacity: 1;
    transform: translateY(0);
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: none;
    color: rgba(255, 255, 255, 0.8) !important;
    transition: 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.container {
    max-width: 1200px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
}

.category-sidebar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    position: sticky;
    top: 20px;
    margin-right: 20px; /* Adjusted margin to bring the sidebar closer to the product cards */
    z-index: 1; /* Ensure it's on top of the content */
}

.pagination .page-link:focus {
    outline: none; /* Remove default focus outline */
}

.pagination .page-link {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffffb7;
    border: none;
}

.pagination .page-link:hover {
    background-color: #ffffff6e; /* Color on hover */
}

.pagination .page-item.disabled .page-link {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffffb7;
}

/* Styles for mobile version */
@media (max-width: 768px) {
    .category-sidebar {
        position: static; /* Remove sticky positioning on mobile */
        margin: 20px 0; /* Margin on mobile */
        width: 100%; /* Full width on mobile */
        border-radius: 20px; /* Maintain border-radius */
        padding: 20px; /* Adjust padding as needed */
        margin-top: 20px; /* Space above the sidebar on mobile */
    }
}

/* Ensure it stays on top of the content */
.col-md-3 {
    z-index: 1; /* Make sure sidebar is above content */
}

.category-sidebar h5 {
    color: #ffffff;
    margin-bottom: 15px;
}

.category-sidebar ul {
    padding-left: 0;
}

.category-sidebar ul li {
    margin-bottom: 10px;
}

.category-sidebar ul li a {
    color: #ffffff85;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.category-sidebar ul li a:hover {
    color: #ffffffc4; /* Цвет иконки корзины */
    transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .category-sidebar {
        position: static; /* Remove sticky positioning */
        margin: 20px 0 20px 0; /* Reset margin for mobile */
        width: 100%; /* Make the sidebar full width on mobile */
        border-radius: 20px; /* Remove border-radius for full width */
        padding: 20px; /* Adjust padding as needed */
        margin-top: 20px; /* Add space above the sidebar on mobile */
    }
}


/* Дополнительные стили для навбара */
.navbar {
    backdrop-filter: blur(500px);
    border-radius: 20px; 
    width: 80%;
    margin: 10px auto 0 auto; /* Центрирование навбара */
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.2); /* Добавление тени */
}

.navbar-brand {
    color: #ffffff7e;
    transition: 0.2s ease-in-out;
}

.navbar-brand:hover {
    color: #ffffffc4;
    transition: 0.2s ease-in-out;
}

.navbar-toggler .fa-bars {
    color: #ffffff7e; /* Белый цвет иконки */
    font-size: 1.5rem; /* Размер иконки (можно настроить) */
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

/* Дополнительные стили для кнопки меню-бургер */
.navbar-toggler:focus {
    outline: none; /* Убираем обводку при фокусе */
    box-shadow: none; /* Убираем тень при клике */
    border: none;
}

.navbar-toggler {
    outline: none;
    box-shadow: none;
    border: none;
}


/* Белый текст для навигационных ссылок */
.nav-link {
    color: #ffffff7e !important;
    font-weight: 600;
}

.nav-link:hover {
    color: #ffffffc4 !important;
}

.content {
    padding-top: 70px; /* Отступ для контента под навбаром */
}

.nav-item .fa-shopping-cart {
    font-size: 1.5rem; /* Увеличение размера иконки корзины */
    color: #ffffff7e; /* Цвет иконки корзины */
    transition: 0.2s ease-in-out;
}

.nav-item .fa-shopping-cart:hover {
    font-size: 1.5rem; /* Увеличение размера иконки корзины */
    color: #ffffffc4; /* Цвет иконки корзины */
    transition: 0.2s ease-in-out;
}

.badge {
    font-size: 0.75rem; /* Размер бейджа */
    padding: 0.25rem 0.5rem;
}

/* Стили для футера */
.footer {
    background-color: rgb(54, 54, 54);
    color: #ffffffb7; /* Белый цвет текста */
    padding: 40px 0;
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование по горизонтали */
}

.footer .container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    gap: 20px; /* Расстояние между блоками */
    max-width: 1200px; /* Ширина контейнера */
    width: 100%;
    padding: 0 20px; /* Отступы по бокам */
    z-index: 1;
}

.footer .social-links {
    display: flex;
    gap: 10px; /* Расстояние между иконками соцсетей */
    justify-content: center; /* Центрирование иконок */
}

.footer .social-links a {
    color: #fff;
    font-size: 24px; /* Размер иконок */
    text-decoration: none;
}

.footer .social-links a:hover {
    color: #ffffff; /* Цвет иконок при наведении */
}

.footer .contact-info, .footer .links {
    text-align: center; /* Выравнивание текста по центру */
}

.footer .contact-info p {
    margin: 0;
    font-size: 16px; /* Размер шрифта */
}

.footer .contact-info a {
    color: #e2e2e29c; /* Цвет ссылок */
    text-decoration: none;
}

.footer .contact-info a:hover {
    text-decoration: underline; /* Подчеркивание ссылок при наведении */
}

.footer .links {
    display: flex;
    gap: 10px; /* Расстояние между ссылками */
    justify-content: center; /* Центрирование ссылок */
}

.footer .links a {
    color: #e2e2e29c;
    text-decoration: none;
}

.footer .links a:hover {
    text-decoration: underline; /* Подчеркивание ссылок при наведении */
}

/* Адаптация футера для мобильных устройств */
@media (max-width: 768px) {
    .footer {
        padding: 20px 0;
    }
    
    .footer .container {
        flex-direction: column; /* Вертикальное расположение элементов */
        gap: 10px; /* Меньшее расстояние между блоками */
    }
    
    .footer .social-links {
        gap: 15px; /* Расстояние между иконками соцсетей */
    }
    
    .footer .contact-info, .footer .links {
        text-align: center; /* Центрирование текста */
    }

    .footer .links {
        flex-direction: column; /* Вертикальное расположение ссылок */
        gap: 5px; /* Меньшее расстояние между ссылками */
    }
}

